canvas {
	font-family: ocr;
}

.face-center{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.cropped-inst {
	padding-top: 50px;
}

#load {
	font-family: ocr; 
	visibility: hidden; 
	height: 0px;
}

@font-face {
    font-family: 'ocr';
    src: url('../fonts/OCRAEXT.TTF');
}
    
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.timer {
	position: absolute;
	text-align: center;
	z-index: 1;
	font-size: 1000%;
	display: inline-block;
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
