canvas {
	font-family: ocr;
}


#load {
	font-family: ocr; 
	visibility: hidden; 
	height: 0px;
}

@font-face {
    font-family: 'ocr';
    src: url('../fonts/OCRAEXT.TTF');
}

#camera {
	width: 50%;
	margin: 0 auto;
}

#buttons p input{
	width: 50%;
	margin: 0 auto;
}
