canvas {
	font-family: ocr;
}

.face-center{
  width: 50%;
  margin: 0 auto;
}

#load {
	font-family: ocr; 
	visibility: hidden; 
	height: 0px;
}

@font-face {
    font-family: 'ocr';
    src: url('../fonts/OCRAEXT.TTF');
}
    
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#timer {
	z-index: 20;
	font-size: 1000%;
	position: fixed;
	top: 384px;
	left: 50%;
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
